@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.homepage{
  border: 3px solid red;
  min-height: 100vh;
}

.homepage .top{
  border: 2px solid green;
  padding: 10px;
}
.homepage .top h1{
  font-size: 2rem;
  font-family: 'Monoton',cursive;
  color: rgba(121, 117, 117, 0.76);

}

.homepage .content{
  border: 2px solid orange;
}