@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");

.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.homepage .top {
  padding: 10px;
  padding-left: 50px;
}
.homepage .top h1 {
  font-size: 2rem;
  font-family: "Tourney", cursive;
  color: rgba(87, 83, 83, 0.76);
}

.homepage .content {
  flex: 1;
  display: flex;
}

.homepage .content .intro {
  margin: 20px auto;
}
